.gameImages {
  /* margin-top: 50px; */
  width: 150px;
  height: 150px;
  border-radius: 35px;
}
.vs {
  margin-top: 20px;
  font-weight: bold;
  font-size: 50px;
}

.gameTitle {
  font-weight: 700;
  text-decoration: underline overline;
}

#reset {
  visibility: hidden;
}
.userBtns {
  margin-top: 20px;
  visibility: hidden;
}
